@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

.remark-inline-code{
  /* background: #F5F5F5; */
  background: #e7e8e2;
  border-radius: 3px;
  padding: 4px;
}


.just_text {
	text-align: justify;
}

.img-center {
	border-radius: 8px;
	display: block;
	text-align: center;
}